@media screen and (max-width: 767px) {
  section.section-1 div.container {
    display: block !important;
  }
  section.section-1 div.item-1 {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  section.section-1 div.item-1 span:before {
    right: 62%;
  }
  section.section-1 div.item-2 {
    width: 100%;
    height: 160px;
  }
  section.section-1 div.item-2 input {
    width: 100%;
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 12px;
  }
  section.section-1 div.item-2 a {
    width: 100%;
    position: absolute;
  }
  section.section-1 div.item-2 a.btn-2 {
    top: 0;
    left: 0;
  }
  section.section-1 div.item-2 a.btn-1 {
    top: 44px;
    left: 0;
    text-align: left;
  }

  section.section-2 nav button {
    border: none;
    outline: none;
    padding: 0;
  }
  section.section-2 nav button span {
    color: white;
    font-size: 24px;
  }
  section.section-2 nav button span:hover {
    color: #f66249;
  }

  footer .footer div.d-flex {
    display: block !important;
  }
  footer .footer div.social, footer .footer div.copyright {
    width: 100%;
    text-align: center;
  }

  section.section-3 .sideProductList {
    display: none;
  }
  section.section-3 .container {
    max-width: 95% !important;
  }
  section.section-3 div.productListing .head-row {
    padding: 20px 15px !important;
  }
}
@media screen and (max-width: 575px) {
  button.cart {
    display: block;
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  section.section-1 div.item-1 span::before {
    right: 64%;
  }
}
@media screen and (max-width: 450px) {
  section.section-1 div.item-1 span::before {
    right: 68.5%;
  }
}
